@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap);

* {
    font-family: "Montserrat";
}

body {
    margin: 0 auto;
}

header.header {
    display: flex;
}

header.header img {
    width: 150px;
}

section.top-page {
    background:url("../img/bg.jpg");
    background-size: cover;
    height: 80vh;
    padding: 25px;
}

/* landing page */

.landing-page {
    padding: 20px 50px;
}

.big-title {
    color: white;
    font-size: 80px;
    font-family: "Abril FatFace", cursive;
    font-weight: 100;
}

.scroll-down {
    color: white;
    text-decoration: none;
    position: absolute;
    bottom: 160px;
}

/* menu de navigation */

nav.nav {
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin-left: 30px;
    width: 400px;
}

nav.nav li {
    color: white;
}

/* services */

.services {
    display: flex;
    justify-content: space-evenly;
    margin: 50px;
}

.service-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service-details {
    font-weight: 600;
    width: 200px;
    text-align: center;
}

.delivery-icon {
    font-size: 50px;
    color: #add981;
}

/* best items */

.section-title {
    font-size: 50px;
    font-family: "Abril FatFace", cursive;
    font-weight: 100;
    position: relative;
}

.section-title::before {
    content: "";
    position: absolute;
    background-color: #add981;
    width: 50px;
    height: 7px;
    bottom: 0;
}

.best-items {
    margin: 100px;
}

.best-plants {
    min-height: 500px;
    display: flex;
    flex-wrap: wrap;
}

.plant-box {
    position: relative;
    background-size: cover;
    background-position: center;
}

.no-grid {
    min-width: 350px;
    height: 500px;
    flex: 1;
}

.plant-details {
    position: absolute;
    background-color: #FFFFFFDF;
    bottom: 0;
    width: 100%;
    padding: 5px 20px;
}

.plant-name {
    font-size: 22px;
    font-weight: 600;
    line-height: 3px;
}

.plant-price {
    color: black;
    font-weight: 800;
    line-height: 3px;
    font-size: 34px;
}

.plant1 {
    background-image: url(../img/nos_meilleures_ventes/1.jpg);
}

.plant2 {
    background-image: url(../img/nos_meilleures_ventes/2.jpg);
}

.plant3 {
    background-image: url(../img/nos_meilleures_ventes/3.jpg);
}

.plant4 {
    background-image: url(../img/nos_meilleures_ventes/4.jpg);
}